In [1]:
x = 10  # Global

def outer():
    y = 5  # Local
    print(x) # Global
    def inner():
        print(y) # Enclosing pour inner
        z = 3      # Local
        print("inner:", x, y, z) # Enclosing Global
    print(y)    
    inner()
    # print(z) # pas accessible
    print("outer:", x, y) # Global Enclosing

In [3]:
# Liste 

l = [ 1, 2, 3, 9]

In [8]:
fruits = ["pomme", "banane", "cerise", "kiwi", "mangue"]

In [10]:
# ["start:end:step]
# banane cerise kiwi
fruits[1:4]

['banane', 'cerise', 'kiwi']

In [13]:
# pomme banane cerise
print( fruits[0:3])
print( fruits[:3] )

['pomme', 'banane', 'cerise']
['pomme', 'banane', 'cerise']

In [14]:
# inverser la liste 
fruits[::-1]

['mangue', 'kiwi', 'cerise', 'banane', 'pomme']

In [16]:
# pomme cerise mangue
print(fruits[0:5:2])
print(fruits[::2])

['pomme', 'cerise', 'mangue']
['pomme', 'cerise', 'mangue']

In [17]:
texte = "Pyhton"
texte[::-1]

'nothyP'

In [19]:
for ch in "Python": print(ch, end="")

Python

In [23]:
fruits[-3:]

['cerise', 'kiwi', 'mangue']

In [24]:
fruits[0]= "voiture"

In [25]:
fruits

['voiture', 'banane', 'cerise', 'kiwi', 'mangue']

In [26]:
t = (1, 2, 3)

In [28]:
t[::-1]

(3, 2, 1)

In [29]:
d = {"a": 1, "b": 2}
d["c"] = 3
print(d.get("b"))  # 2

2

In [30]:
d["c"]

3

In [31]:
d["e"] = (1,2)

In [32]:
d

{'a': 1, 'b': 2, 'c': 3, 'e': (1, 2)}

In [33]:
d["e"] = 100

In [34]:
d

{'a': 1, 'b': 2, 'c': 3, 'e': 100}

In [35]:
fruits = ["pomme", "banane", "cerise", "kiwi", "mangue", "mangue"]


fruits

['pomme', 'banane', 'cerise', 'kiwi', 'mangue', 'mangue']

In [36]:
# les sets
s = {1, 2, 3}

In [38]:
print(s)
s.add(1)
s.add(2)
s.add(3)
s.add(6)
print(s)

{1, 2, 3}
{1, 2, 3, 6}

In [39]:
p = {1, 2, 7 }

s | p

{1, 2, 3, 6, 7}

In [40]:
p & s

{1, 2}

In [42]:
message = "mississippi"
set(message)

{'i', 'm', 'p', 's'}

In [43]:
# Exercice compter le nombre de chaque caractère de mot dans message 

for ch in [1, 2, 3]:
    print(ch, end = "")

123

In [48]:
count_char = {} # initialiser un dictionnaire vide

d = {"a" : 1, "b" : 2 }

"a" in d # vérifie si la clé existe

for ch in message:
    if ch in count_char: # vérifie que la clé ch existe dans le dictionnaire count_char
        count_char[ch] += 1 # ch clé unique 
    else:
        count_char[ch] = 1

In [49]:
print(count_char)

{'m': 1, 'i': 4, 's': 4, 'p': 2}

In [50]:
message.count('i')

4

In [52]:
# Les carrés 

mbSquare = []

for i in range(1, 11):
    # print(i)
    mbSquare.append(i**2)

In [53]:
mbSquare

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [54]:
mbSquare = [ nb**2 for nb in range(1,11) ]
print(mbSquare)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
{ ch : message.count(ch) for ch in message } # le ch est les lettres que l'on parcours dans la boucle

{'m': 1, 'i': 4, 's': 4, 'p': 2}

In [59]:
sum( nb for nb in range(1, 11) if nb % 2 == 0 ) # la somme de 2, 4, 6, 8, 10

30

In [74]:
number = -6523
sig = 1 if number > 0 else -1 # manière très condensé de faire un if else en une ligne en Python
print(sig)
print( sig * int( str( abs(number) )[::-1] ) ) # transforme ma variable en entier positif puis je transforme en str et j'inverse

-1
-3256

In [76]:
number = -6523
sig = 1
if number < 0: 
    sig = -1

number = abs(number)
number = str(number)[::-1]
number = sig * int(number)
print(number)

-3256

In [96]:
class Person:
    step = 1
    def __init__(self, name, age):
        self.name = name
        self.age = age 

    def str_len(self):
        return len(self.name)

Alan = Person("Alan", 10)
Bob = Person("Bob", 19)
print(Bob.step, Alan.step, Person.step) # valeur partagée

# si on change step ça change pour tout le monde 
Person.step = 10
print(Bob.step, Alan.step, Person.step) # valeur partagée

1 1 1
10 10 10

In [97]:
class Person:
    step = 1
    def __init__(self, name, age):
        self.name = name
        self.age = age 

    def str_len(self):
        return len(self.name)

In [98]:
Alan = Person("Alan", 10)

In [101]:
form datetime import datetime 

cleaned_data = [
  {"order_id": 1001, "customer": "Alice", "amount": 89.90, "date": "2024-04-05"},
  {"order_id": 1002, "customer": "Bob", "amount": 45.00, "date": "2024-04-07"},
]

class Order:
    def __init__(self, order_id, customer, amount, date):
        self.order_id = order_id
        self.customer = customer
        self.amount = amount
        self.date = datetime.strptime(date, "%Y-%m-%d")

In [106]:
# hydratation 
orders = [ 
    Order(
        order_id=o['order_id'],
        customer=o['customer'],
        amount=o['amount'],
        date=o['date']
    )
    for o in cleaned_data ]

In [111]:
Order( **cleaned_data[0] ) # ** => déballer les valeurs order_id = 1001, customer = 'Alice', amount=  89.90, date = "2024-04-05"

In [112]:
a = 1
b = 2
a, b = b, a # assignation par unpacking

In [116]:
# hydratation 
orders = [ Order(**o) for o in cleaned_data ]

In [124]:
type(orders[0]) == Order

True

In [130]:
def total_sales(orders):
    return sum(order.amount for order in orders)

def best_order(orders):
    best_order = 0
    o = None 
    for order in orders :
        if best_order < order.amount:
            best_order = order.amount
            o = order

    return o

bestOrder = best_order(orders)
bestOrder.amount, bestOrder.order_id, bestOrder.customer

(89.9, 1001, 'Alice')

In [126]:
total_sales(orders)

134.9

In [127]:
best_order(orders)